body {
  margin: 0;
}

.top-container {
  background-image: url("./images/chris-barbalis-5WGPyAOFafc-unsplash.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container h1 {
  color: #fff;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  opacity: 0.9;
}

.text {
  margin: 50px 5%;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  background: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 40px;
  color: #000;
  font-family: cursive;
  font-size: 24px;
}

.navbar ul li a:hover {
  color: #52b2f7;
}

.navbar.active {
  background-color: #000;
}

.navbar.active ul li a {
  color: #fff;
}
